<ul>
  {% for entry in include.items %}
  <li>
    {% if entry.items %}
      <details open>
        <summary><span>{{ entry.label | escape }}</span><svg class="caret" width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z"/></svg></summary>
        {% include navigation.html items=entry.items %}
      </details>
    {% else %}
      <a href="{{ entry.link | relative_url | escape }}"{% if page.url == entry.link %} aria-current="page"{% endif %}>{{ entry.label | escape }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
