{"documents":[
{%- assign count = 0 -%}
{%- for page in site.html_pages -%}
  {%- if page.layout == 'default' and page.search_exclude != true -%}
    {%- unless count == 0 -%},{%- endunless -%}
    {"title":{{ page.title | default: '' | jsonify }},"url":{{ page.url | relative_url | jsonify }},"body":{{ page.content | strip_html | normalize_whitespace | jsonify }},"headings":{{ page.headings | jsonify }}}
    {%- assign count = count | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}
{%- for collection in site.collections -%}
  {%- if collection.output == true -%}
    {%- for page in collection.docs -%}
      {%- if page.layout == 'default' and page.search_exclude != true -%}
        {%- unless count == 0 -%},{%- endunless -%}
        {"title":{{ page.title | default: '' | jsonify }},"url":{{ page.url | relative_url | jsonify }},"body":{{ page.content | strip_html | normalize_whitespace | jsonify }},"headings":{{ page.headings | jsonify }}}
        {%- assign count = count | plus: 1 -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
]}
